.credentials {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 2rem;
    font-size: 2rem;
}

.credentialItems {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 100px 50px var(--main-menu-width);
    /* background-color: pink; */
    text-align: center;
}
